/*----------- Golobal css -----------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.row {
    display: flex;
}



/*----------- slider-section ----------*/
.slider-section {
    background-color: #161616;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 130px;
    margin-top: 50px;
}

.slider-section .text-column {
    width: 47.5%;
    margin-right: 5%;
    padding: 90px 0 90px 90px;
}

.slider-section .text-column h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    line-height: 80px;

}

.slider-section .text-column .lg-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.slider-section .text-column .md-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    display: none;
}

.slider-section .text-column .slider-btn {
    padding: 12px 35px;
    font-weight: 700;
    font-size: 16px;
    background-color: #FF8278;
    color: #fff;
    border: 2px solid #FF8278;
    border-radius: 5px;
    transition: .4s;
    font-family: 'Raleway', sans-serif;
}

.slider-section .text-column .slider-btn i {
    margin-left: 8px;
}

.slider-section .text-column .slider-btn:hover {
    background-color: transparent;
    color: #FF8278;
    border: 2px solid #FF8278;
}

.slider-section .image-column {
    width: 47.5%;
    padding: 30px 70px 0 0;
}

.slider-section .image-column img {
    width: 100%;
    display: block;
}




/* ------- blog section ------- */
.blog-section .left-column {
    width: 300px;
}

.blog-section .right-column {
    width: 100%;
    margin-left: 30px;
}

.blog-section .left-column ul {
    margin: 0;
    padding: 0;
}

.blog-section .left-column .nav-bar {
    background-color: #161616;
    padding: 30px;
    border-radius: 10px;
}

.blog-section .left-column .nav-bar ul li {
    list-style: none;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
}

.blog-section .left-column .nav-bar ul li:last-child {
    margin-bottom: 0;
}

.blog-section .left-column ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #161616;
    padding: 10px 18px;
    display: block;
}

.blog-section .left-column #active {
    background-color: #FF8278;
}

.blog-section .left-column #active a {
    color: #fff;
}

.blog-section .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.blog-section .right-column article {
    border: 1px solid #00000038;
    border-radius: 10px;
}

.blog-section .right-column .article-text {
    padding: 20px;
}

.blog-section .right-column img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blog-section .right-column article button {
    padding: 7px 18px;
    background: transparent;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
    font-family: 'Raleway', sans-serif;
}

.blog-section .right-column article button:hover {
    background: #161616;
    border: 1px solid #161616;
    color: #fff;
}

.blog-section .right-column article h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.blog-section .right-column article .icon {
    display: flex;
}

.blog-section .right-column article .fa-regular {
    margin-right: 5px;
}

.blog-section .right-column article .time {
    margin-right: 40px;
}

.blog-section .right-column .button {
    display: none;
}








/* ----------- Footer ------------- */
footer {
    background-color: #161616;
    margin-top: 130px;
}

footer .container {
    text-align: center;
    padding: 130px 0;
}

footer .container h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

footer .container ul {
    padding: 0;
    margin: 0;
}

footer .container ul li {
    list-style: none;
    display: inline;
    padding: 0 25px;
}

footer .container ul li a {
    text-decoration: none;
    color: #B9B9B9;
}

footer .container hr {
    margin: 0;
    margin-bottom: 30px;
    border-color: #FFFFFF;
    opacity: 10%;
}




/* --------- social ------------ */
.social {
    margin-top: 70px;

}

.social ul li i {
    color: #fff;
    font-size: 30px;
    background-color: #FF8278;
    border: 1px solid #FF8278;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: .4s;
}

.social ul li i:hover {
    color: #FF8278;
    font-size: 30px;
    background-color: transparent;
    transform: rotate(45deg);
}











/* --------------------- 
upcoming page
-------------------- */
.blog-section .right-column .team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-section .right-column .team img {
    object-fit: cover;
    height: 55px;
    width: 90px;
    border-radius: unset;
}

.blog-section .right-column .content {
    border: 1px solid #00000038;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.blog-section .right-column .content .team span {
    font-size: 16px;
    font-weight: 700;
    color: #161616;
}

.blog-section .right-column .content h2 {
    font-size: 20px;
    font-weight: 600;
    color: #161616;
}

.blog-section .right-column .content p {
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
}







/*------------------ Responsive -------------------*/

@media only screen and (max-width: 1200px) {
    .slider-section .text-column {
        padding: 60px 0 60px 60px;
    }

    .slider-section .text-column h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .slider-section .image-column {
        padding: 30px 40px 0 0;
    }
}

@media only screen and (max-width: 1024px) {

    /* slider section */
    .slider-section {
        margin-bottom: 70px;
    }

    .slider-section .text-column {
        padding: 50px 0 50px 50px;
    }

    .slider-section .text-column h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .slider-section .text-column .md-text {
        display: block;
    }

    .slider-section .text-column .lg-text {
        display: none;
    }

    .slider-section .image-column {
        padding: 50px 20px 0 0;
    }





    /* blog section */
    .blog-section .main {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .container .blog-section {
        display: block;
    }

    .blog-section .left-column {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog-section .left-column ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }

    .blog-section .left-column .nav-bar {
        background: transparent;
        padding: 0;
    }

    .blog-section .left-column .nav-bar ul li {
        margin-bottom: 0;
    }

    .blog-section .left-column .nav-bar ul li {
        background-color: transparent;
        border: 1px solid #00000038;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog-section .left-column ul li a {
        padding: 12px 30px !important;
        display: block;
    }

    .blog-section .right-column {
        margin-left: 0;
    }

    .blog-section .right-column .button {
        display: block;
    }

    .blog-section .right-column .button .md-button {
        padding: 12px 35px;
        font-weight: 700;
        font-size: 16px;
        background-color: #FF8278;
        color: #fff;
        border: 2px solid #FF8278;
        border-radius: 5px;
        transition: .4s;
        font-family: 'Raleway', sans-serif;
    }

    .blog-section .right-column .button {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .blog-section .right-column .button .md-button:hover {
        background-color: transparent;
        color: #FF8278;
        border: 2px solid #FF8278;
    }



    /* footer */
    footer {
        margin-top: 70px;
    }

    footer .container {
        padding-top: 30px;
        padding-bottom: 60px;
    }

}

@media only screen and (max-width: 989px) {
    .slider-section .text-column {
        padding: 40px 0 40px 40px;
    }

    .slider-section .text-column h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .slider-section .text-column .md-text {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    footer .container ul li {
        padding: 0 15px;
    }
}




@media only screen and (max-width: 767px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .slider-section {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .slider-section .image-column {
        padding: 0;
        padding-top: 30px;
        width: 100%;
        max-width: 300px;
    }

    .slider-section .text-column {
        padding: 30px 20px 0 20px;
        text-align: center;
        margin: 0;
        width: 100%;
        max-width: 300px;
    }

    .blog-section .left-column ul {
        display: flex;
        flex-direction: column;
        display: inline-block;
    }

    .blog-section .left-column .nav-bar {
        text-align: center;
    }

    .blog-section .left-column .nav-bar ul li {
        margin-bottom: 15px;
    }

    .blog-section .main {
        grid-template-columns: repeat(1, 1fr);
    }




    footer .container {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    footer .container ul li {
        display: block;
        padding: 0;
        margin-bottom: 25px;
    }

}




@media only screen and (max-width: 520px) {
    .slider-section .text-column h1 {
        padding: 0 15px;
    }

    .slider-section .text-column .md-text {
        padding: 0 20px;
    }

    .slider-section .image-column {
        width: 75%;
    }
}